# Startup Config
API_ID = "6006392"
API_HASH = "30d77a640ddeffe9c50e9e6759562f81"
BOT_TOKEN = "6754253810:AAGR9XAc4aMP8i8YzMpYj-EUcYOxEFj53xI"
AUTH_CHANNEL = "-1001219689356"
SESSION_STRING = ""

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = "http://139.99.98.47"
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

SLEEP_THRESHOLD = "60" #Reduce FloodWait
WORKERS = "100"
THEME = "flatly"
